adium-theme-ubuntu==0.3.4
apt-xapian-index==0.46
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.6.0
certifi==2015.4.28
characteristic==0.1.0
chardet==2.2.1
colorama==0.3.1
command-not-found==0.3
debtagshw==0.1
defer==1.0.6
dirspec==13.10
Django==1.5
django-compositekey==1.5.0
django-debug-toolbar==1.3.0
django-suit==0.2.12
djangotoolbox==1.6.2
duplicity==0.6.23
ecdsa==0.11
html5lib==0.999
httplib2==0.9
idna==0.9
ipaddr==2.1.11
ipaddress==1.0.7
lockfile==0.8
lxml==3.3.6
mysql-connector-python==1.2.2
MySQL-python==1.2.3
mysql-utilities==1.3.5
oauthlib==0.6.1
oneconf==0.3.7
PAM==0.4.2
paramiko==1.15.1
pexpect==3.2
Pillow==2.6.1
piston-mini-client==0.7.5
pyasn1==0.1.7
pyasn1-modules==0.0.5
pycrypto==2.6.1
pycups==1.9.67
pygobject==3.14.0
pyOpenSSL==0.13.1
pyserial==2.6
pysqlite==2.6.3
python-apt===0.9.3.10ubuntu1
python-debian==0.1.22
pyxdg==0.25
reportlab==3.1.8
requests==2.3.0
service-identity==1.0.0
sessioninstaller==0.0.0
simplejson==3.6.5
six==1.7.3
software-center-aptd-plugins==0.0.0
South==1.0.2
sqlparse==0.1.14
ssh-import-id==3.21
system-service==0.1.6
tornado==4.1
Twisted==13.1.0
Twisted-Core==14.0.2
Twisted-Web==14.0.2
unity-lens-photos==1.0
urllib3==1.8.3
virtualenv==12.0.7
wheel==0.24.0
xdiagnose==3.6.6
xmltodict==0.11.0
zope.interface==4.1.1
