<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Minimum Number of Operations</title>
	</head>
	<body>
		<form action="/" method="get">
			Enter string 1: <input type="text" name="string_1"><br>
			Enter string 2: <input type="text" name="string_2"><br>
			<input type="submit" value="Submit">
		</form>
		{% if flag %}
			{% if res == -1 %}
				<b>Strings length dont match</b>
			{% elif res == -2 %}
				<b>Strings dont have the same number of characters</b>
			{% else %}
				<b>The minimum number of operations required is {{res}}</b>
			{% endif %}
		{% endif %}
	</body>
</html>
